<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div (click)="restartProcess()">
    <ion-button class="general-button">Empezar desde cero</ion-button>
  </div>

  <div>

  </div>

  <div>Step: {{step}}</div>
  <div>
    <input type="text" [(ngModel)]="mercadopagoService.cart.price" name="cart-price" />
  </div>

  <input type="name" [(ngModel)]="mercadopagoService.customer.email" name="email" />

  <div *ngIf="step === 0">
    <ion-button (click)="stripeStepOne()" class="general-button">Empezar</ion-button>
  </div>

  <div *ngIf="step === 1">
    <div>Intent client_secret: {{mercadopagoService.intent.client_secret}}</div>
    Ya tiene tarjeta:
    <ion-button class="general-button" (click)="mercadopagoService.stepThree()">
      crear token
    </ion-button>
    {{mercadopagoService.customer.card | json}}
  </div>

  <div *ngIf="step === 2">
    <ion-button class="general-button" (click)="stripeStepOne()">
      No existe tarjeta, crear una
    </ion-button>
  </div>

  <div *ngIf="step === 3">
    <ion-button class="general-button" (click)="stripeStepOne()">

    </ion-button>
  </div>


</ion-content>
