.ion-content {
  .page-content {
    margin: 10px 20px;
  }
  .selector {
    border: 1px solid black;
  }
  .form {
    border: 1px solid black;
    margin-top: 10px;
    padding: 20px;
  }

  .input-title {
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
  }
}
